<section>
  <div class="section about-section gray-bg" id="bio">
    <div class="container">
      <div class="row align-items-center flex-row-reverse">
        <div class="col-md-8">
          <div class="about-text go-to">
            <h3 class="dark-color">
              <%= @user.name %>
            </h3>
            <h6 class="theme-color lead">Bio</h6>
            <p>
              <%= @user.bio %>
            </p>
            <div class="row about-list">
              <div class="col-md-6">
                <div class="media">
                  <label>Age</label>
                  <p>
                    <%= @user.age %>
                  </p>
                </div>
                <label>Rating</label><br>
                <%= @user.rating %>

                  <% if @user !=current_user %>
                    <div class="rate">
                      <input type="radio" id="star5" name="rate" value="5" />
                      <label for="star5" title="text">5 stars</label>
                      <input type="radio" id="star4" name="rate" value="4" />
                      <label for="star4" title="text">4 stars</label>
                      <input type="radio" id="star3" name="rate" value="3" />
                      <label for="star3" title="text">3 stars</label>
                      <input type="radio" id="star2" name="rate" value="2" />
                      <label for="star2" title="text">2 stars</label>
                      <input type="radio" id="star1" name="rate" value="1" />
                      <label for="star1" title="text">1 star</label>
                    </div>
                    <% end %>
              </div>
              <div class="col-md-6">
                <div class="media">
                  <label>E-mail</label>
                  <p>
                    <%= @user.email %>
                  </p>
                </div>
                <div class="media">
                  <label>Télephone</label>
                  <p>
                    <%= @user.phone_number %>
                  </p>
                </div>
                <br>
                <%= link_to "Editer profil" , new_user_path(current_user), id: "edit-btn" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="about-avatar">
            <% if current_user.photo.key==nil %>
              <%= image_tag "https://png.pngtree.com/element_our/20200610/ourlarge/pngtree-character-default-avatar-image_2237203.jpg" %>
            <% else %>
              <%= cl_image_tag current_user.photo.key %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container" style="margin-top: 48px;">
    <div class="row">
      <div class="col-md-4" id="tabs">
        <a id="annonce-link">
          <h3><strong>Vos annonces</strong></h3>
        </a><br>
        <a id="participation-link">
          <h3><strong>Vos participations</strong></h3>
        </a><br>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <div class="container">
          <div class="row" id="annonces">
            <% current_user.games.each do |game| %>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body" id="profilegames">
                    <h5 class="card-title">
                      <%= game.title %>
                    </h5>
                    <i class="fa-solid fa-clock"></i>
                    <h6 class="card-subtitle mb-2 text-muted">
                      <%= game.date.strftime("%d %m - %H:%M") %>
                    </h6>
                    <p class="card-text">
                      <%= game.description %>
                    </p>
                    <%= link_to "Voir annonce" , game_path(game), id: "voir-btn" %>
                  </div>
                </div>
              </div>
              <% end %>
          </div>
          <div class="row d-none" id="participations">
            <% current_user.bookings.each do |booking| %>
              <% event_or_game = booking.game.blank? ? booking.event : booking.game %>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body" id="profilegames">
                    <h5 class="card-title">
                      <%= event_or_game.title %>

                    </h5>
                    <i class="fa-solid fa-clock"></i>
                    <h6 class="card-subtitle mb-2 text-muted">
                      <%= event_or_game.date.strftime("%d %m - %H:%M") %>
                    </h6>
                    <p class="card-text">
                      <%= event_or_game.description %>
                    </p>
                    <% if booking.game.blank? %>
                      <%= link_to "Voir annonce" , event_path(booking.event), id: "voir-btn" %>
                    <% else %>
                      <%= link_to "Voir annonce" , game_path(booking.game), id: "voir-btn" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
</section>
<script>
  const showHide = (elementId) => {
    document.getElementById("annonces").classList.add("d-none")
    document.getElementById("participations").classList.add("d-none")
    document.getElementById(elementId).classList.remove("d-none")
  }
  document.getElementById("annonce-link").addEventListener('click', (event) => {
    event.preventDefault();
    showHide("annonces");
  })
  document.getElementById("participation-link").addEventListener('click', (event) => {
    event.preventDefault();
    showHide("participations")
  })
</script>
