<section>
  <div class="section about-section gray-bg" id="bio">
    <div class="container">
      <div class="row align-items-center flex-row-reverse">
        <div class="col-md-6">
            <div class="about-text go-to">
                <h3 class="dark-color"><%= @user.name %></h3>
                <h6 class="theme-color lead">Bio</h6>
                <p><%= @user.bio %></p>
                <div class="row about-list">
                    <div class="col-md-6">
                        <div class="media">
                            <label>Age</label>
                            <p><%= @user.age %></p>
                        </div>
                        <div class="media">
                            <label>Rating</label>
                            <p><%= @user.rating %> Stars</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="media">
                            <label>E-mail</label>
                            <p><%= @user.email %></p>
                        </div>
                        <div class="media">
                            <label>Telephone</label>
                            <p><%= @user.phone_number %></p>
                        </div>
                       <br>
                        <a href="#">Editer le profil</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="about-avatar">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="">
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5" id="tabs">
      <a id="annonce-link"><h3>Vos annonces</h3></a>
      <a id="participation-link"><h3>Vos participations</h3></a>
      <a id="attente-link"><h3>En attente</h3></a>
      </div>
       <div class="col-md-7">
        <div class="container">
          <div class="row" id="annonces">
            <div class="col-md-4" style="background: grey">
            <p>Annoce</p>
            </div>
            <div class="col-md-4" style="background: grey">
            <p>Annoces</p>
            </div>
            <div class="col-md-4" style="background: grey">
            <p>item 3</p>
            </div>
          </div>
          <div class="row d-none" id="participations">
            <div class="col-md-4" style="background: grey">
            <p>Participation</p>
            </div>
            <div class="col-md-4" style="background: grey">
            <p>item 2</p>
            </div>
            <div class="col-md-4" style="background: grey">
            <p>item 3</p>
            </div>
          </div>
          <div class="row d-none" id="attentes">
            <div class="col-md-4" style="background: grey">
            <p>En attente</p>
            </div>
            <div class="col-md-4" style="background: grey">
            <p>item 2</p>
            </div>
            <div class="col-md-4" style="background: grey">
            <p>item 3</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
const showHide = (elementId) => {
  document.getElementById("annonces").classList.add("d-none")
  document.getElementById("participations").classList.add("d-none")
  document.getElementById("attentes").classList.add("d-none")
  document.getElementById(elementId).classList.remove("d-none")
}
document.getElementById("annonce-link").addEventListener('click', (event) => {
  event.preventDefault();
 showHide("annonces");
})
document.getElementById("participation-link").addEventListener('click', (event) => {
  event.preventDefault();
  showHide("participations")
})
document.getElementById("attente-link").addEventListener('click', (event) => {
  event.preventDefault();
  showHide("attentes")
})
</script>
