<section id="game-index">
  <div class="cotainer toto">
    <h1 class="text-center py-3"><strong>Événements prochains</strong></h1>
    <%= link_to "Créer une annonce",new_event_path, class: "btn btn-outline-primary game mx-4", id:"btnblk" %>
  </div>
  <div class="container">
    <div class="row">
      <% @events.each do |event| %>
      <div class="card border-primary col-12 mb-3 col-sm-12" id="cardwhite">
        <div class="card-header d-flex justify-content-between" style="padding-bottom: 0px;">
          <div class="d-flex">
            <i class="fa-solid fa-calendar-days"></i>
            <p><%= event.created_at.strftime('%d/%m/%Y') %></p>
          </div>
          <div>
            <p> <strong> <%= event.bookings.count %> confirmés sur <%= event.capacity %>
            </strong></p>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <img
                src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1643974180/sux8gkvgvmtj2smi2z2r.jpg"
                class="avatar-large" alt="">
            </div>
            <div class="col-md-9">
              <h3 class="card-title" style="color: black;"><strong><%= event.title %></strong></h3>
              <div class="game-date">
                <i class="fa-solid fa-calendar-days"></i>
                <p><%= event.date.strftime('%d/%m/%Y') %> </p>
              </div>
              <div class="game-hour">
                <i class="fa-solid fa-clock"></i>
                <p><%= event.date.strftime('%Hh %Mmin') %> </p>
              </div>
              <div class="game-location">
                <i class="fa-solid fa-map-location"></i>
                <p><%= event.location.name + " - " + event.location.address + " " + event.location.city %></p>
              </div>
              <%= link_to "Voir détails",event_path(event), class: "btn btn-outline-primary game-details", id:"btnblk" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
