
<div class="container-full hero-bg" id="carousel">
  <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel" data-interval="3">
      <div class="hero-fix">
        <div class="hero-text">
          <h3>Let's Sports</h3>
          <h5>Pour les passionés</h5>
        </div>
        <div class="cta-btn-right">
          <p>Défiez des adversaires a la hauteur</p>
          <%= link_to "Joueur", games_path%>
        </div>
        <div class="cta-btn-left">
          <p>L'émotion du sport à portée de main</p>
          <a href="">Spectateur</a>
        </div>
      </div>
      <div class="carousel-inner">
          <div class="carousel-item active">
                <%= image_tag  "football.png", class: "hero-img move" %>
          </div>

          <div class="carousel-item">
            <%= image_tag "tennis.png", class: "hero-img move" %>
          </div>

            <div class="carousel-item">
              <%= image_tag "basket.png", class: "hero-img move" %>
            </div>
      </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
  </div>
</div>

<div class="container">
  <div class="row featurette" id="about">
    <div class="col-md-4">
      <h3 class=" pt-5 mt-5 border-bottom border-danger pb-5 ">Bienvenue à Let's Sports</h3>

      <p class="pt-3">Let's Sports est une équipe de jeunes développeurs passionnés du sport avec pour objectif de faciliter l’accès à la pratique et aux rencontres pour tous, autour d’une activité ou bien d’un évènement sportif.</p>
    </div>
    <div class="col-md-4 pt-3">
    </div>
    <div class="col-md-4">
      <%= image_tag "about_us.jpg", class: "about-image mx-auto", style: "width: 400px; height: 300px;" %>
    </div>
  </div>
</div>
