<div class="container-game-details" id="game-details">
  <h3> <%= game.sport.name %> </h3>
        <div> <strong><%= game.title %></strong> </div>
        <div>creator : <%= game.user.name %></div>
        <div> <%= game.description %> </div>
        <div>  <i class="fa-solid fa-clock"></i> <%= game.date %> </div>
        <div>
          <i class="fa-solid fa-location-dot"></i>
          <%= game.location.name %>,
          <%= game.location.address %>,
          <%= game.location.city %>
        </div>
        <div> <%= game.bookings.count %>/<%= game.capacity %> players </div>
        <div id="game-data" data-booking-id= <%= @booking_id %> data-game-id="<%= @game.id %>" data-player-id="<%= current_user.id %>"> status : <%= game.status %> </div>
</div>
