<div class="player-card" data-id="<%= booking.id %>" data-controller="request">
  <% if booking.user.photo.key == nil %>
    <%= image_tag "https://png.pngtree.com/element_our/20200610/ourlarge/pngtree-character-default-avatar-image_2237203.jpg", class: "avatar-large"%>
  <% else %>
    <%= cl_image_tag booking.user.photo.key, class: "avatar-large"%>
  <% end %>
    <div class="player-card-content">
      <%= "#{booking.user.name}" %>
        <% booking.user.rating.times do %>
          <i class="fa-solid fa-star"></i>
        <% end %>
        <% (5 - booking.user.rating).times do %>
          <i class="fa-regular fa-star"></i>
        <% end %>
        <p>
          <%= "#{booking.status} " %>
        </p>
        <div>
            <% if is_creator %>
              <% if booking.status != "confirmé" %>
                <a data-action="click->request#valider" class="btn btnv">Valider</a>
              <% end %>
              <% if booking.status != "refusé" %>
                <a data-action="click->request#refuser" class="btn btnx">Refuser</a>
              <% end %>
            <% end %>
        </div>
    </div>
</div>
