<section id="game-index">
  <div class="cotainer toto">
    <h1 class="text-center py-3"><strong>Parties disponibles</strong></h1>
    <%= link_to "Créer une partie",new_game_path, class: "btn btn-outline-primary game mx-4", id:"btnblk" %>
  </div>
  <div class="container">
    <div class="row">
      <% @games.each do |game| %>
      <div class="card border-primary col-12 mb-3 col-sm-12" id="cardwhite">
        <div class="card-header d-flex justify-content-between" style="padding-bottom: 0px;">
          <div class="d-flex">
            <i class="fa-solid fa-calendar-days"></i>
            <p><%= game.created_at.strftime('%d/%m/%Y') %></p>
          </div>
          <div>
            <p> <strong> <%= game.bookings.count %> confirmés sur <%= game.capacity %>
            </strong></p>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
             <%= cl_image_tag User.find(game.creator_id).photo.key, class: "avatar-large"  %>
            </div>
            <div class="col-md-9">
              <h3 class="card-title" style="color: black;"><strong><%= game.title %></strong></h3>
              <div class="game-date">
                <i class="fa-solid fa-calendar-days"></i>
                <p><%= game.date.strftime('%d/%m/%Y') %> </p>
              </div>
              <div class="game-hour">
                <i class="fa-solid fa-clock"></i>
                <p><%= game.date.strftime('%Hh %Mmin') %> </p>
              </div>
              <div class="game-location">
                <i class="fa-solid fa-map-location"></i>
                <p><%= game.location.name + " - " + game.location.address + " " + game.location.city %></p>
              </div>
              <%= link_to "Voir détails",game_path(game), class: "btn btn-outline-primary game-details", id:"btnblk" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
