<section id="game-index">
  <div class="cotainer toto">
    <h1 class="text-center py-3">Our Recent Game</h1>
    <%= link_to "Créer une partie",new_game_path, class: "btn btn-outline-primary game" %>
  </div>
  <div class="container">
    <div class="row">
      <% @games.each do |game| %>
      <div class="card border-primary col-12 mb-3 col-sm-12">
        <div class="card-header d-flex justify-content-between">
          <div class="d-flex">
            <i class="fa-solid fa-calendar-days"></i>
            <p><%= game.created_at.strftime('%d/%m/%Y') %></p>
          </div>
          <div>
            <p> <strong> <%= game.bookings.count %> confirmés sur <%= game.capacity %>
            </strong></p>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <img
                src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1643974180/sux8gkvgvmtj2smi2z2r.jpg"
                class="avatar-large" alt="">
            </div>
            <div class="col-md-9">
              <h4 class="card-title"><%= game.title %></h4>
              <div class="game-date">
                <i class="fa-solid fa-calendar-days"></i>
                <p><%= game.date.strftime('%d/%m/%Y') %> </p>
              </div>
              <div class="game-hour">
                <i class="fa-solid fa-clock"></i>
                <p><%= game.date.strftime('%Hh %Mmin') %> </p>
              </div>
              <div class="game-location">
                <i class="fa-solid fa-map-location"></i>
                <p><%= game.location.name + " - " + game.location.address + " " + game.location.city %></p>
              </div>
              <%= link_to "Voir détails",game_path(game), class: "btn btn-outline-primary game-details" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>

